use Olympic;

select TOP 3 * from Olympic_Games_Medal_Tally;

select TOP 3 * from Olympic_Athlete_Event_Results;

select TOP 3 * from Olympic_Athlete_Bio;

select TOP 3 * from Olympic_Results;

select TOP 3 * from Olympics_Country;

select TOP 3 * from Olympics_Games;